@font-face {
    font-family: "Cottage";
    src: url("../fonts/Cottage.woff2") format("woff2"),
        url("../fonts/Cottage.woff") format("woff"),
        url("../fonts/Cottage.ttf") format("ttf"),
        url("../fonts/Cottage.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/EBGaramond-Regular.woff2") format("woff2"),
        url("../fonts/EBGaramond-Regular.woff") format("woff"),
        url("../fonts/EBGaramond-Regular.ttf") format("ttf"),
        url("../fonts/EBGaramond-Regular.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/EBGaramond-Italic.woff2") format("woff2"),
        url("../fonts/EBGaramond-Italic.woff") format("woff"),
        url("../fonts/EBGaramond-Italic.ttf") format("ttf"),
        url("../fonts/EBGaramond-Italic.eot") format("eot");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/EBGaramond-Bold.woff2") format("woff2"),
        url("../fonts/EBGaramond-Bold.woff") format("woff"),
        url("../fonts/EBGaramond-Bold.ttf") format("ttf"),
        url("../fonts/EBGaramond-Bold.eot") format("eot");
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: "EBGaramond-SemiBoldItalic";
    src: url("../fonts/EBGaramond-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/EBGaramond-SemiBoldItalic.woff") format("woff"),
        url("../fonts/EBGaramond-SemiBoldItalic.ttf") format("ttf"),
        url("../fonts/EBGaramond-SemiBoldItalic.eot") format("eot");
    font-weight: Bold;
    font-style: italic;
}