/*************************************************************************************************
                                GESTION DES VARIABLES
**************************************************************************************************/

$colorCercle-1:#B8BDE4;
$colorCercle-2:#E0EAFF;
$colorCercle-3:#FAFFE1;
$colorCercle-4:#AADBE3;
$colorCercle-5:#F0FFEB;
$colorCercle-6:#D2D5E3;




